body{
    /* background-image: url("isometric\ laptop\ illustration\ with\ characters\ -\ Gor\ Sargsyan.jpeg"); */
    
text-align: center;
/* Make the video fill the entire screen */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1; /* Place behind content */
}

/* Style for content on top of the video */
.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding-top: 100px;
}


/* zoom hover */

.zoom-hover {
  display: inline-block;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.zoom-hover:hover {
  transform: scale(1.2); /* Makes text bigger on hover */
  color: red;
}

/* color change hover */

/* .hover-text {
  color: black;
  transition: color 0.3s ease;
}

.hover-text:hover {
  color: rgb(0, 255, 4); /* Change to any color */
} */





    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-attachment: scroll;
    background-blend-mode: color;
    background-image: cross-fade();
    background-position: 0%;
   
    font-family: sans-serif;
    


    scrollbar-3dlight-color: aquamarine;


}




